Unit]
Description=CAN Logger Service with CAN Interface Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/can_logger
ExecStartPre=/home/pi/can_logger/start-can.sh
ExecStart=/usr/bin/python3 /home/pi/can_logger/can_logger_gpio.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
